html,body,div,ul,li,a,p{margin:0;padding:0;color:#666;}
ul,li{list-style: none;}
img{border:none;}
.loadcover{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 65535;
}
.loadcover_up{
    position: absolute;
    width: 100%;
    height: 550px;
    top: 0;
    left: 0;
    background:#fff url(./images/loading_border_up.png) center bottom repeat-x;
    opacity: .8;
    filter: alpha(opacity=80);
    display: none;
}
.loadcover_down{
    position: absolute;
    top : 551px;
    left: 0;
    width: 100%;
    height: 550px;
    background:#fff url(./images/loading_border_down.png) center top repeat-x;
    opacity: .8;
    filter: alpha(opacity=80);
    display: none;
}
.loadcover_logo{
    width: 100%;
    height: 365px;
    margin: 170px 0 0;
    background:#fff url(./images/loading_logo.jpg) center top no-repeat;
    position: relative;
}
.loadcover_gear{
    position: absolute;
    width: 207px;
    height: 100px;
    overflow: hidden;
    margin:0 0 0 90px;
    /*padding: 1px;*/
    border: 3px double #666;
    background:#fff;
    left: 50%;
    top: 38px;
    display: none;
}
.loadcover_gear_shadow{
    width: 207px;
    height: 100px;
    box-shadow:inset 0 0 10px #666;
    position: absolute;
    left: 0; 
    top: 0;
    z-index: 10;
}
.loadgear1{
    width: 59px;
    height: 59px;
    background: url(./images/gear_s.png) no-repeat;
    position: absolute;
    left: 95px;
    top: 0px;
    -webkit-animation-name: gear1;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.loadgear2{
    width: 59px;
    height: 59px;
    background: url(./images/gear_s.png) no-repeat;
    position: absolute;
    left: 134px;
    top: 39px;
    -webkit-animation-name: gear2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.loadgear3{
    width: 134px;
    height: 134px;
    background: url(./images/gear_b.png) no-repeat;
    position: absolute;
    left: -34px;
    top: -78px;
    -webkit-animation-name: gear2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.loadgear4{
    width: 134px;
    height: 134px;
    background: url(./images/gear_b.png) no-repeat;
    position: absolute;
    left: 29px;
    top: 71px;
    -webkit-animation-name: gear1;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes "gear1" {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes "gear2" {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}