.formbg{
    width: 100%;
    height: 500px;
    background: url(images/bg.jpg) repeat;
}
.calculateform{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
#extends-form-wrap{
  position: absolute;
  top: 22px;
  right: 0;
  width:360px;
  height: 451px;
  border:2px solid #eee;
  border-bottom:2px solid #aaa;
  border-radius: 4px;
  background:rgba(255,255,255,.95);
}
.people_show{
  width: 500px;
  height: 456px;
  padding: 22px 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.people_show .normal{
  width: 494px;
  height: 455px;
  position: absolute;
  background: url(images/people_normal.png) no-repeat;
}
.people_show .more{
  width: 494px;
  height: 455px;
  background: url(images/people_more.png) no-repeat;
  position: absolute;
  display: none;
}
.people_show .less{
  width: 494px;
  height: 455px;
  background: url(images/people_less.png) no-repeat;
  position: absolute;
  display: none;
}
.people_show .male{
  width: 494px;
  height: 455px;
  background: url(images/people_male.png) no-repeat;
  position: absolute;
  display: none;
}
.people_show .female{
  width: 494px;
  height: 455px;
  background: url(images/people_female.png) no-repeat;
  position: absolute;
  display: none;
}
.extends-form-group{width:100%;height:360px;overflow:scroll;padding: 15px 0;}
.pure-form fieldset{overflow:scroll;padding-bottom:2em;}
.pure-form input[type=text]:focus{border-color:#f90;background-color:rgba(255,153,0,0.1);}
.pure-control-group{
    clear: both;
    margin: 3px 0 0 0;
    overflow: hidden;
}
.prop{
    float: left;
    display: inline;
    width: 100px;
    font : 14px/30px Verdana,"宋体";
    text-align: right;
    padding: 0 10px;
}
.val{
    float: left;
    display: inline;
    width: 230px;
    font : 14px/30px Verdana,"宋体";
}
.pure-control-group *{
    vertical-align: middle;
}
.lscheck{
    width: 110px;
    margin: 0 0 0 3px;
    display: inline;
    float: left;
    overflow: hidden;
    word-wrap:no-wrap;
    white-space: nowrap;
    word-break: break-all;
}
.pure-control-group input[type=text]{
    width : 170px;
    height: 14px;
    padding: 8px 5px;
    font: 14px/1 Verdana,"宋体";
    border-radius: 5px;
    border: 1px solid #ccc;
}
.pure-control-group select{
    width : 182px;
    height: 30px;
    font: 14px/1 Verdana,"宋体";
    border-radius: 5px;
    border: 1px solid #ccc;
}
.extends-form-group h2 {
    font:600 16px/20px Verdana,"宋体";
    margin-left: 10px;
}


.warning{color:#f00;font-weight: bold;}
.info{color:#09f;font-weight: bold;}

#provinces , #towns {display:none;text-align: left;}
.extends-button-submit{width:300px;padding:10px 5px;margin:10px auto;background: #fbbd32;border-radius:4px;border:1px solid #ee9124;display: block;font:16px/1 "Microsoft Yahei";color:#fff;}
