/*视网膜屏优化*/
body{
}
.topmenu li.selected{
    background: url(images/bg-x.png) repeat-x;
}
.retina .dragon{
    width: 580px;
    height: 636px;
    background: url(images2x/dragon@2x.png) no-repeat;
    left: 16px;
    top: -186px;
    zoom: .5;
}
.retina .dragonball{
    width: 512px;
    height: 512px;
    position: absolute;
    z-index: 30;
    background: url(images2x/dragonball@2x.png) no-repeat;
    zoom: .5;
}
.retina .dragonhighlight{
    width: 512px;
    height: 512px;
    position: absolute;
    z-index: 35;
    background: url(images2x/highlight@2x.png) no-repeat;
    zoom: .5
}
.retina .dragon_c{
    width: 512px;
    height: 512px;
    position: absolute;
    z-index: 30;
    left: 6px;
    top: 20px;
    background: url(images2x/dragon_c@2x.png) no-repeat;
    zoom: .5;
}
.retina .circle{
    position: absolute;
    z-index: 20;
    width: 320px;
    height: 320px;
    background: url(images2x/circle@2x.png) no-repeat;
    zoom: .5;
}
.retina .weibo_bg{
    background: url(images2x/ico_weibo@2x.png) 50% 50% no-repeat;
    zoom: .5;
}
.retina .sina_bg{
    background: url(images2x/ico_sina@2x.png) 50% 50% no-repeat;
    zoom: .5;
}
.retina .video_bg{
    background: url(images2x/ico_video@2x.png) 50% 50% no-repeat;
    zoom: .5;
}
.retina .mobile_bg{
    background: url(images2x/ico_mobile@2x.png) 50% 50% no-repeat;
    zoom: .5;
}
.retina .dragoneye{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #fbb43d;
    position: absolute;
    left: 112px;
    top: 36px;
    background: #fff;
    -webkit-transform: scaleY(0);
    -webkit-animation-name: dragoneye;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: .2s;
}